.footer.container.bloc.clearfix
	p
		strong Granim v
			span=locals.version
		|, created by <a href="https://twitter.com/Sarcadass" target="_blank">Benjamin Blonde</a>.
		| MIT license.<br>
		| Thanks to <a href="https://twitter.com/designcouch" target="_blank">@designcouch</a>
		| for the <a href="https://codepen.io/designcouch/pen/Atyop" target="_blank">hamburger icon</a>.
		| Inspired by <a href="http://uigradients.com/" target="_blank">uiGradients</a>.

	.bloc-social
		a.cta-social.cta-facebook(
		href='http://www.facebook.com/sharer.php?u=http://sarcadass.github.io/granim.js'
		target='_blank')
			include facebook-logo.html
			| Share on Facebook

		a.cta-social.cta-twitter(
		href='https://twitter.com/share?text=Create%20fluid%20and%20interactive%20gradients%20animations%20with%20this%20small%20%28<%2010kB%29%20.js%20library&via=Sarcadass&url=http%3A%2F%2Fsarcadass.github.io%2Fgranim.js'
		target='_blank')
			include twitter-logo.html
			| Share on Twitter
